In [2]:
# Import packages
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Question 1: (10 points) Exploratory Analysis

In [10]:
# Load training and testing datasets into pandas dataframes
news_train = pd.read_csv('20ng_train.csv', compression='bz2')
news_test = pd.read_csv('20ng_test.csv', compression='bz2')
news_labels = pd.read_csv('20ng_labels.csv', compression='bz2')

In [19]:
# Extract features and targets into separate dataframes
X_train = news_train.drop('class', axis=1)
y_train = news_train['class']
X_test = news_test.drop('class', axis=1)
y_test = news_test['class']

## 1.1 (5 points)

In [25]:
# Summarise key features/observations
X_train.describe()

,__,ability,able,ac,accept,access,according,account,act,action,...,world,worth,wouldn,write,written,wrong,wrote,year,years,yes
count,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,...,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000,5648.000000
mean,0.001708,0.001472,0.006335,0.002273,0.002466,0.004041,0.002923,0.001420,0.002057,0.001560,...,0.006102,0.003717,0.004887,0.003494,0.002800,0.006421,0.001851,0.006020,0.008144,0.006705
std,0.034360,0.016554,0.033866,0.026688,0.022362,0.030053,0.024208,0.018515,0.020301,0.020248,...,0.034573,0.028373,0.033153,0.027797,0.025441,0.037083,0.020132,0.036011,0.037727,0.039841
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.956585,0.443807,0.565277,0.711480,0.529982,0.635985,0.560049,0.461537,0.657318,0.631932,...,0.487020,0.614346,0.698880,0.511068,0.596214,0.751603,0.561412,0.617048,0.438414,0.736056

In [24]:
print("Training set shape: {}".format(X_train.shape))
print("Number of instances in training set: {}".format(X_train.shape[0]))
print("Number of attributes in training set: {}".format(X_train.shape[1]))

Training set shape: (5648, 1000)
Number of instances in training set: 5648
Number of attributes in training set: 1000

## 1.2 (3 points)

## 1.3 (2 points)

# Question 2: (24 points) Unsupervised Learning